/*Modi*/

.form-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 1rem;
  }
  
  .form-group label {
    width: 30%;
    margin-right: 1rem;
    text-align: right;
  }
  
  .form-group input[type="text"],
  .form-group input[type="file"] {
    width: 68%;
  }
  